@*   multi-line comment *@
@{     
    // one or more server side code(C#) 
    }
<h2>
    Student ID: @ViewData["StuID"] and 
    Student Name: @ViewData["StuName"] ប្រើ ViewData។
 </h2>
<h2>
    Student ID: @ViewBag.StuID and
    Student Name: @ViewBag.StuName ប្រើ ViewBag ។
</h2>