@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "ថែមភាពយន្តថ្មី";
    Layout = "~/Views/Shared/_M3.cshtml";
}

<h1 class="text-center">ថែមភាពយន្តថ្មី</h1>

<h4 class="text-center">ភាពយន្ត</h4>
<hr />
<div class="row">
    <div class="col-4"></div>
    <div class="col-md-4">
        <!--  asp-action ជាគុណលក្ខណៈដែលនឹងបញ្ជូនទិន្នន័យបានបញ្ចូលទៅឱ្យ
                Create action method របស់ Movies Controller -->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">ចំណងជើង</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label">កាលបរិច្ឆេទចេញ</label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label">ប្រភេទ</label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">តម្លៃ</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="រក្សាទុកភាពយន្តថ្មី" class="w-100 btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>

<div>
    <a asp-action="Index">បញ្ជីភាពយន្ត</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
