
<ul>
    <li>@Html.ActionLink("M3 action link - Html helper","M3","AR")</li>
    <li>
        <a asp-action="M3" asp-controller="AR">
            M3 action link - tag helper
        </a>
    </li>
</ul>


